body {
  margin: 0;
  padding: 0;
}
.video video {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: fill;
  /*加滤镜*/
  /*filter: blur(15px); //背景模糊设置 */
  /*-webkit-filter: grayscale(100%);*/
  z-index: -9999;
}
